
 /*LPH*/ 
 .last-products {
  width: 100%;
  height: 40%;
  background-color: white;
  padding-bottom: 3%;
}

.slide-container{
  display: flex;
  color: #2f3640;
  width: 100%;
  margin: auto;
  align-content: center;
  align-items: center;
}
.img1{
  width: auto;
  max-width: 300px;
  height: auto;
  max-height: 300px;
}
.titleproduct {
  text-align: center;
}

.description-product {
  text-align: center;
}

.btns-product {
  display: flex;
  width: 100%;
}

.details {
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.add-to-cart{
  width: 50%;
  text-align: center;
  cursor: pointer;
}
.btn-detail {
  width: 98%;
  border: none;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #2f3640;
  padding: 10px;
}
.btn-detail:hover {
  border: none;
  text-decoration: none;
  color: white;
  background-color: lightslategrey;

}
.btn-add-cart {
  width: 98%;
  border: none;
  font-size:23px;
  text-decoration: none;
  color: white;
  background-color: #2f3640;
  padding: 7.4px;
  cursor: pointer;
}
.btn-add-cart:hover{
  background-color: lightslategrey;
}

/* carousel controller */

@media screen and (max-width: 760px) {
  .last-products {
    width: 100%;
    height: 40%;
    background-color: white;
    padding-bottom: 3%;
    
  }
  
}